Source: libtinything
Section: libs
Priority: extra
Maintainer: MakerBot Industries dev team <dev@makerbot.com>
Build-Depends: debhelper (>= 8.0.0), cdbs, scons, libjsoncpp-dev
Standards-Version: 3.9.2
Homepage: https://github.com/makerbot/

Package: libtinything
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mb-libstdc++6
Description: Tools for the .makerbot format

Package: libtinything-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libtinything (=1.0.0),
    libthing-dev (>=2.2.0)
Description: Tools for the .makerbot format
